<div class="content">
    <div class="card">
        <div class="card__name">Cem Temuçin</div>
        <div class="card__text">I'm a computer engineer.</div>
        <div class="card__info">
            <a href="https://drive.google.com/file/d/17KO8MoiAZC4rTNeGRwGNhwwZd6_Yrrzc/view"><img src="assets/cv.svg"
                    alt="CV"></a>
            <a href="https://www.linkedin.com/in/cem-temucin" target="_blank"><img src="assets/linkedin.svg"
                    alt="linkedin"></a>
            <a href="https://github.com/eXalife" target="_blank"><img src="assets/github.svg" alt="github"></a>
        </div>
        <div class="card__lab"><a routerLink="/lab">Lab</a></div>
    </div>
</div>
<canvas id="scene"></canvas>