@import "primeng/resources/primeng.min.css";
@import "layout.css";
@import "primeflex/primeflex.scss";
@import "primeicons/primeicons.css";

// primeng fixes

.blockui {
    z-index: 9997;
}

.toast {
    z-index: 9999;
}

.spinner {
    z-index: 9998;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .p-progress-spinner-circle {
        stroke: #4c7c9b !important;
    }
}

.no-padding-fieldset {
    .p-fieldset-legend {
        padding: 0.5rem;
    }

    .p-fieldset-content {
        padding: 0 0.5rem;
    }
}

.full-width-select-button {
    display: flex;
    width: 100%;

    .p-button {
        flex: 1;
        justify-content: center;
    }
}

.full-width-autocomplete-panel {
    .p-overlay.p-component {
        width: 100%;
    }
}