@import "primeng/resources/primeng.min.css";
@import "layout.css";
@import "primeflex/primeflex.scss";
@import "primeicons/primeicons.css";

.blockui {
    z-index: 9997;
}

.toast {
    z-index: 9999;
}

.spinner {
    z-index: 9998;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .p-progress-spinner-circle {
        stroke: #4c7c9b !important;
    }
}