@import "primeng/resources/primeng.min.css";
@import "layout.css";
@import "primeflex/primeflex.scss";
@import "primeicons/primeicons.css";

.toast {
    z-index: 9999;
}

.layout-main {
    position: relative;
    min-height: calc(100vh - 12rem);
}

.layout-mask-loading {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9990;
    pointer-events: all;
}

.spinner {
    .p-progress-spinner-circle {
        stroke: #4c7c9b !important;
    }
}

.no-padding-fieldset {
    .p-fieldset-legend {
        padding: 0.5rem;
    }

    .p-fieldset-content {
        padding: 0 0.5rem;
    }
}

.full-width-select-button {
    display: flex;
    width: 100%;

    .p-button {
        flex: 1;
        justify-content: center;
    }
}

.full-width-autocomplete-panel {
    .p-overlay.p-component {
        width: 100%;
    }
}