.layout-footer {
    .footer-link {
        text-decoration: none;
        color: var(--text-color);

        >img {
            display: block;
            width: 2rem;
            height: 2rem;
        }
    }
}