<div class="col-12 xl:col-8 xl:col-offset-2">
    <div class="card p-fluid">
        <h5>Password Generator</h5>
        <div class="field col-12 p-0">
            <p-floatLabel>
                <textarea id="password" rows="1" pInputTextarea [autoResize]="true" [(ngModel)]="password"
                    class="text-area"></textarea>
                <label for="password">Password</label>
            </p-floatLabel>
        </div>
        <div class="field col-12 p-0">
            <div class="flex align-items-center gap-2">
                <p-checkbox [(ngModel)]="includeUppercase" [binary]="true" inputId="uppercase"
                    (ngModelChange)="generatePassword()" [disabled]="customize" />
                <label for="uppercase">Uppercase <span
                        class="ml-1 font-light text-color-secondary">{{uppercaseChars}}</span></label>
            </div>
        </div>
        <div class="field col-12 p-0">
            <div class="flex align-items-center gap-2">
                <p-checkbox [(ngModel)]="includeLowercase" [binary]="true" inputId="lowercase"
                    (ngModelChange)="generatePassword()" [disabled]="customize" />
                <label for="lowercase">Lowercase <span
                        class="ml-1 font-light text-color-secondary">{{lowercaseChars}}</span></label>
            </div>
        </div>
        <div class="field col-12 p-0">
            <div class="flex align-items-center gap-2">
                <p-checkbox [(ngModel)]="includeNumbers" [binary]="true" inputId="numbers"
                    (ngModelChange)="generatePassword()" [disabled]="customize" />
                <label for="numbers">Numbers <span
                        class="ml-1 font-light text-color-secondary">{{numberChars}}</span></label>
            </div>
        </div>
        <div class="field col-12 p-0">
            <div class="flex align-items-center gap-2">
                <p-checkbox [(ngModel)]="includeSymbols" [binary]="true" inputId="symbols"
                    (ngModelChange)="generatePassword()" [disabled]="customize" />
                <label for="symbols">Symbols <span
                        class="ml-1 font-light text-color-secondary">{{symbolChars}}</span></label>
            </div>
        </div>
        <div class="field col-12 p-0 grid row-gap-4">
            <div class="flex align-items-center gap-2 col-12">
                <p-checkbox [(ngModel)]="customize" [binary]="true" inputId="customize"
                    (ngModelChange)="customizeChars()" />
                <label for="customize">Customize</label>
            </div>
            @if (customize) {
            <div class="col-12 p-0">
                <p-floatLabel>
                    <textarea id="customChars" rows="1" pInputTextarea [autoResize]="true" [(ngModel)]="customChars"
                        (ngModelChange)="generatePassword()" class="text-area"></textarea>
                    <label for="customChars">Custom Characters</label>
                </p-floatLabel>
            </div>
            }
        </div>
        <div class="field col-12 p-0">
            <div class="flex align-items-center gap-2">
                <div class="flex-none" (click)="unlockEasterEgg()">
                    <label for="passwordLength">Length:</label>
                </div>
                <div class="flex-none">
                    <p-inputNumber [(ngModel)]="passwordLength" inputId="passwordLength" mode="decimal"
                        [min]="minPasswordLength" [max]="maxPasswordLength" styleClass="password-length"
                        [style]="{'width': 'calc(' + passwordWidth() + 'ch + 1.3em)'}" [inputStyleClass]="'p-2'"
                        (ngModelChange)="passwordLength.set($event)" />
                </div>
                <div class="flex-auto">
                    <p-slider [(ngModel)]="passwordLength" [min]="minPasswordLength" [max]="maxPasswordLength"
                        (ngModelChange)="passwordLength.set($event)" />
                </div>
            </div>
        </div>
        <div class="field col-12 p-0 grid row-gap-3">
            <div class="col-12 md:col-6">
                <p-button label="Generate" icon="pi pi-sync" (onClick)="generatePassword()"
                    [disabled]="customize ? customChars.length === 0 : (!includeUppercase && !includeLowercase && !includeNumbers && !includeSymbols)" />
            </div>
            <div class="col-12 md:col-6">
                <p-button label="Copy" icon="pi pi-clipboard" severity="success"
                    (onClick)="copyPasswordToClipboard()" />
            </div>
        </div>
    </div>
</div>